.row {
    margin-bottom: 20px;
}
.container {
    margin-top: 50px;
}

.chat-area {
    width: 50%;
    margin: 5px 0;
}

@media only screen and (max-width: 575px) {  
    .chat-area {
        width: 100%;
    }
}  

@media only screen and (max-width: 992px) {  
    .col-sm-3 {
        width: 100%;
    }

}  


.input-rows {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

body {
    background: #f7f9fa;
}

.percentage-col {
    text-align: center;
}

.heart-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top:10px;
}

.add-chat-btn {
    width: 100%;
}

#submit-btn {
    margin-top: 20px;
    margin-bottom: 100px;
}

.submit-div {
    width: 200px;
}

@media only screen and (min-width: 992px) {  
    .small-screen-percentage {
        display: none;
    }
}  

@media only screen and (max-width: 992px) {  
    .large-screen-percentage {
        display: none;
    }

}  