<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title class="header-text">Hello, world!</title>


  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <div class="container page-container">
        <h2 style="margin-bottom: 20px;"> Texting Match </h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Pickup line</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">API</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container">
            
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">We don't store anything</div>
                                <div class="card-body">
                                    <h5 class="card-title">Match the compatibility with your Partner</h5>
                                    <p class="card-text">Paste Your chat to know a compatibility match</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 percentage-col">
                            <h3> Calculate your compatibility </h3>
                            <img class="heart-img" src="{{ url_for('static', filename='heart.png')}}"/>
                            <h1 id="percentage-value"></h1>
                        </div>
                        <div class="col-sm-3">
                            <div class="card text-white bg-dark mb-3">
                                <div class="card-header">Ask them out</div>
                                <div class="card-body">
                                <h5 class="card-title">Know if you should ask your crush out</h5>
                                <p class="card-text">Our Analytics tool help find your chances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="loaded-bar" class="progress" style="height: 30px;display: none;width: 50%;margin: 0 auto;">
                            </div>
                            <div id="loading-bar" class="progress" style="height: 30px;display: none; width: 50%; margin: 0 auto;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                        <div class="row input-rows">
                            <div class="col-sm-6 input-group chat-area">
                                <span class="input-group-text" id="them-1">Them</span>
                                <input id="them-reply-1" type="text" class="form-control" placeholder="They replied" aria-label="Reply" aria-describedby="them-1">
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 input-group chat-area">
                                <input id="you-reply-1" type="text" class="form-control" placeholder="You replied" aria-label="Your Reply" aria-describedby="you-1">
                                <span class="input-group-text" id="you-1">You</span>
                            </div>
                        </div>
                        <div class="row input-rows">
                            <div class="col-sm-6 input-group chat-area">
                                <span class="input-group-text" id="them-2">Them</span>
                                <input id="them-reply-2" type="text" class="form-control" placeholder="They replied" aria-label="Reply" aria-describedby="them-2">
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 input-group chat-area">
                                <input id="you-reply-2" type="text" class="form-control" placeholder="You replied" aria-label="Your Reply" aria-describedby="you-2">
                                <span class="input-group-text" id="you-2">You</span>
                            </div>
                        </div>
                        <div class="row input-rows">
                            <div class="col-sm-6 input-group chat-area">
                                <span class="input-group-text" id="them-2">Them</span>
                                <input id="them-reply-3" type="text" class="form-control" placeholder="They replied" aria-label="Reply" aria-describedby="them-2">
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6 input-group chat-area">
                                <input id="you-reply-3" type="text" class="form-control" placeholder="You replied" aria-label="Your Reply" aria-describedby="you-3">
                                <span class="input-group-text" id="you-3">You</span>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-2 mx-auto">
                            <button id="submit-btn" class="btn btn-primary" type="button">Test compatibility</button>
                        </div>
                        <script>
                            document.getElementById('submit-btn').addEventListener("click", function(e) {
                                $('#loaded-bar').hide();
                                $('#loading-bar').show();
                                
                                var chats = [
                                    $('#them-reply-1').val(),
                                    $('#them-reply-2').val(),
                                    $('#them-reply-3').val(),
                                    $('#you-reply-1').val(),
                                    $('#you-reply-2').val(),
                                    $('#you-reply-3').val(),
                                ];
                                console.log(chats);
                                $.post(
                                    "http://localhost:5000/hello", { 'data': JSON.stringify(chats) }, 
                                    function(data = {}){
                                        $('#loading-bar').hide();
                                        $('#loaded-bar').show();
                                        var percentage =data.percentage || 0;
                                        document.getElementById('loaded-bar').innerHTML = `<div class="progress-bar" role="progressbar" style="width: ${percentage}%;" aria-valuenow="${percentage}" aria-valuemin="0" aria-valuemax="100"></div>`
                                        document.getElementById('percentage-value').innerHTML = `${percentage}%`;
                                        console.log(data);
                                }).fail(function(){
                                    console.log("error");
                                });
                            });
                        </script>
    
                    <!-- Content here -->
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Generate Pickup line. Coming soon...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Please contact our administrators to know more about it</div>
        </div>
    </div>
    

    


  </body>
</html>