<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title class="header-text">Hello, world!</title>


  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    
    <div class="container page-container">
        <h2 style="margin-bottom: 20px;"> Texting Match </h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Pickup line</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">API</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container">
            
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">We don't store anything</div>
                                <div class="card-body">
                                    <h5 class="card-title">Match the compatibility with your Partner</h5>
                                    <p class="card-text">Paste Your chat to know a compatibility match</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 percentage-col large-screen-percentage">
                            <h3> Calculate your compatibility </h3>
                            <img class="heart-img" src="{{ url_for('static', filename='heart.png')}}"/>
                            <h1 id="percentage-value"></h1>
                        </div>
                        <div class="col-sm-3">
                            <div class="card text-white bg-dark mb-3">
                                <div class="card-header">Ask them out</div>
                                <div class="card-body">
                                <h5 class="card-title">Know if you should ask your crush out</h5>
                                <p class="card-text">Our Analytics tool help find your chances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" percentage-col small-screen-percentage">
                        <h3> Calculate your compatibility </h3>
                        <img class="heart-img" src="{{ url_for('static', filename='heart.png')}}"/>
                        <h1 id="percentage-value-mobile"></h1>
                    </div>
                    <div class="row" style="width: 300px; margin: 0 auto;margin-bottom: 30px;">
                        <img id="meme-img" src=""/>
                    </div>
                    <div class="row">
                                <div id="spinner"class="spinner-grow text-dark" role="status" style="margin: 0 auto; display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                    </div>
                        <div class="btn-group btn-group-lg" style="width: 100%; margin-bottom: 30px">
                            <button id="add-them" type="button" class="add-chat-btn btn btn-outline-primary btn-lg">Add message from them</button>
                            <button id="add-you" type="button" class="add-chat-btn btn btn-outline-primary btn-lg">Add message from you</button>
                        </div>
                        <script>
                            document.getElementById("add-them").addEventListener("click", function() {
                                var n_them = document.getElementsByClassName('them-row').length;
                                var newElement = document.createElement('div');
                                newElement.innerHTML = `<div class="row input-rows them-row">
                                                <div class="col-sm-12 input-group chat-area">
                                                    <span class="input-group-text" id="them-${n_them}">Them</span>
                                                    <input id="them-reply-${n_them}" type="text" class="form-control" placeholder="They replied" aria-label="Reply" aria-describedby="them-${n_them}">
                                                </div>
                                                <div class="col-sm-6">
                                                </div>
                                            </div>`;
                                document.getElementById('chats').appendChild(newElement);
                            })
                            document.getElementById("add-you").addEventListener("click", function() {
                                var n_you = document.getElementsByClassName('you-row').length;
                                var newElement = document.createElement('div');
                                
                                newElement.innerHTML = `<div class="row input-rows you-row">
                                                <div class="col-sm-6">
                                                </div>
                                                <div class="col-sm-6 input-group chat-area">
                                                    <input id="you-reply-${n_you}" type="text" class="form-control" placeholder="You replied" aria-label="Your Reply" aria-describedby="you-${n_you}">
                                                    <span class="input-group-text" id="you-${n_you}">You</span>
                                                </div>
                                            </div>`;
                                document.getElementById('chats').appendChild(newElement);
                            })
                        </script>
                        <div id="chats"></div>
                        <div class="submit-div d-grid gap-2 col-2 mx-auto">
                            <button id="submit-btn" class="btn btn-primary" type="button">Test compatibility</button>
                        </div>
                        <script>
                            document.getElementById('submit-btn').addEventListener("click", function(e) {
                                $('#spinner').show();
                                
                                var chats = [];
                                var n_them = document.getElementsByClassName('them-row').length;
                                var n_you = document.getElementsByClassName('you-row').length;
                                for (var i = 0; i < n_them; i++) {
                                    chats.push($(`#them-reply-${i}`).val());
                                }
                                for (var i = 0; i < n_you; i++) {
                                    chats.push($(`#you-reply-${i}`).val());
                                }

                                function generateGif() {
                                    function searchGiphy(searchQuery) {
                                    var url =
                                    "https://api.giphy.com/v1/gifs/search?api_key=Yrmn1YFaIbwuVBaE5T9dlGtdaPqlMOyE&limit=1&offset=0&rating=g&lang=en&q="
                                    + searchQuery;
                                        
                                    // AJAX Request
                                        
                                    var GiphyAJAXCall = new XMLHttpRequest();
                                    GiphyAJAXCall.open("GET", url);
                                    GiphyAJAXCall.send();

                                    GiphyAJAXCall.addEventListener("load", function (data) {
                                        var actualData = JSON.parse(data.target.response);
                                        var imgUrl = actualData.data[0].images.original.url;
                                        document.getElementById('meme-img').src = imgUrl;
                                    });
                                    }
                                    var percentage = document.getElementById('percentage-value').innerHTML;
                                    var percentage = document.getElementById('percentage-value').innerHTML || document.getElementById('percentage-value-mobile').innerHTML;
                                    percentage = parseInt(percentage.substring(0, percentage.length - 1));
                                    if (percentage <= 20) {
                                        searchGiphy(`better+luck+next+time`);
                                    }  else if (percentage <= 40) {
                                        searchGiphy(`give+it+a+shot`);
                                    } else if (percentage <= 60) {
                                        searchGiphy(`things+are+interesting`);
                                    } else if (percentage <= 80) {
                                        searchGiphy(`coffee+or+drinks`);
                                    } else {
                                        searchGiphy(`match+made+in+heaven`);
                                    }
                                    

                                }

                                $.post(
                                    "/hello", { 'data': JSON.stringify(chats) }, 
                                    function(data = {}){
                                        setTimeout(function() {$('#spinner').hide()} , 500);
                                        var percentage =data.percentage || 0;
                                        document.getElementById('percentage-value').innerHTML = `${percentage}%`;

                                        document.getElementById('percentage-value-mobile').innerHTML = `${percentage}%`;
                                        generateGif();
                                }).fail(function(){
                                    console.log("error");
                                });
                            });
                        </script>
    
                    <!-- Content here -->
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Generate Pickup line. Coming soon...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Please contact our administrators to know more about it</div>
        </div>
    </div>
    

    


  </body>
</html>
